@import '~@angular/material/theming';
@include mat-core();

$table-border-color: #2F3030;

$primary-dark:      mat-palette($mat-blue, 700);
$accent-dark:       mat-palette($mat-light-blue, 600);
$warn-dark:         mat-palette($mat-red);

.dark-theme {

  $dark-theme:      mat-dark-theme($primary-dark, $accent-dark, $warn-dark);
  @include angular-material-theme($dark-theme);  

  &.theme-indicator {
    color: #777777 !important;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
  
    &:hover {
      color: #dadada;
      text-decoration: none;
    }
  }

  .mat-sidenav-container {
    .mat-sidenav {
      background: #434443 !important;

      .sidenav {

        a {
          &.active,
          &.active:hover,
          &.active:focus,
          &.active:active {
            background-color: #009CE4!important;
            color: #ffffff;
          }
        }
      }
    }
  }
  
  ///////////////////////////////////////////////
  // Tables
  //////////////////////////////////////////////
  .table {
    tr {
      border-bottom: 1px solid $table-border-color;
    }

    &.table-bordered {
      border-bottom: 1px solid $table-border-color;
    }
  }
}
