@import '../base/_variables.scss';

.dark-theme{
  &.theme-indicator{
    color: #777777!important;
  }

  .mat-sidenav-container{
    .mat-sidenav{
      background: #37474F!important;

      .sidenav {
        a{
          color: #ffffff!important;

          &.active,
          &.active:hover,
          &.active:focus,
          &.active:active{
            background: #263238!important;
            color: #ffffff!important;
          }
        }
      }
    }
  }


    ///////////////////////////////////////////////
    // Tables
    //////////////////////////////////////////////
    table{
      tr{
          border-bottom: 1px solid $light-border-color;
      }

      &.table-bordered{
        border: 1px solid $light-border-color;
      }
    }
}
