@import '../themes/_theme.scss';

.dark-theme{
  &.theme-indicator{
    color: #999999!important;
  }

  .mat-sidenav-container{
    .mat-sidenav{
      background: #37474F!important;

      .sidenav {
        a{
          color: #ffffff!important;

          &.active,
          &.active:hover,
          &.active:focus,
          &.active:active{
            background: #263238!important;
            color: #ffffff!important;
          }
        }
      }
    }
  }

  ///////////////////////////////////////////////
  // Tables
  //////////////////////////////////////////////
  table{
      &.table-bordered{
          border: 1px solid $light-theme-border-color;

          tr{
              border-bottom: 1px solid $light-theme-border-color;
          }
      }
  }
}
