@import '../base/_variables.scss';

.light-theme{
  &.theme-indicator{
    color: #cccccc!important;
  }

  .mat-toolbar{
    background: #03A9F4!important;
    color: #ffffff!important;
  }

  .mat-sidenav{

    background-color: #FFFFFF!important;

    .sidenav {
      a{
        color: currentColor!important;

        &.active,
        &.active:hover,
        &.active:focus,
        &.active:active{
          background-color: #03A9F4!important;
          color: #ffffff!important;
        }
      }
    }
  }

  ///////////////////////////////////////////////
  // Tables
  //////////////////////////////////////////////
  .table{
    tr{
        border-bottom: 1px solid $light-border-color;
    }

    &.table-bordered{
      border: 1px solid $light-border-color;
    }
  }
}
