.light-theme{
  &.theme-indicator{
    color: #cccccc!important;
  }

  .mat-toolbar{
    background: $accent-color!important;
    color: #ffffff!important;
  }

  .mat-sidenav{
    .sidenav {
      .logo{
        h1{
          border-bottom-width: 0;;
        }
      }

      a{
        &.active,
        &.active:hover,
        &.active:focus,
        &.active:active{
          color: #ffffff!important;
        }
      }
    }
  }

  ///////////////////////////////////////////////
  // Tables
  //////////////////////////////////////////////
  table{
      &.table-bordered{
          border: 1px solid $light-theme-border-color;

          tr{
              border-bottom: 1px solid $light-theme-border-color;
          }
      }
  }
}
