@import '../base/_variables.scss';

.mixed-theme{
  &.theme-indicator{
    color: rgb(3, 151, 236)!important;
  }
  
  .mat-sidenav-container{
    .mat-toolbar{
      background: white!important;
      color: #444444!important;
      border-bottom: 1px solid $light-border-color;
      
      .logo{
        background-position-y: 0!important;
      }
    }

    .mat-sidenav{
      background: #0288D1!important;

      .sidenav {
        a{
          color: #ffffff!important;

          &.active,
          &.active:hover,
          &.active:focus,
          &.active:active{
            background: #0277BD!important;
            color: #ffffff!important;
          }
        }
      }
    }
  }

  &.theme-indicator{
    color: #0288D1!important;
  }

  ///////////////////////////////////////////////
  // Tables
  //////////////////////////////////////////////
  .table{
    tr{
        border-bottom: 1px solid $light-border-color;
    }
    
    &.table-bordered{
      border: 1px solid $light-border-color;
    }
  }
}
