@import '~@angular/material/theming';
@include mat-core();

@import '../base/_variables.scss';

$mixed-primary:     mat-palette($mat-blue, 700); 
$mixed-accent:      mat-palette($mat-light-blue, 700);
$app-light-warn:    mat-palette($mat-red, A700);

.mixed-theme{

  $mixed-theme:     mat-light-theme($mixed-primary, $mixed-accent, $app-light-warn);
  @include angular-material-theme($mixed-theme);

  &.theme-indicator{
    color: rgb(3, 151, 236)!important;
  }
  
  .mat-sidenav-container{
    .mat-toolbar{
      background: white!important;
      color: #444444!important;
      border-bottom: 1px solid $light-border-color;
      
      .logo{
        background-position-y: 0!important;
      }
    }

    .mat-sidenav{
      background-color: #0288D1!important;

      .sidenav {
        a{
          color: #ffffff!important;

          &.active,
          &.active:hover,
          &.active:focus,
          &.active:active{
            background-color: #0277BD!important;
            color: #ffffff!important;
          }
        }
      }
    }
  }

  &.theme-indicator{
    color: #0288D1!important;
  }

  ///////////////////////////////////////////////
  // Tables
  //////////////////////////////////////////////
  .table{
    tr{
        border-bottom: 1px solid $light-border-color;
    }
    
    &.table-bordered{
      border: 1px solid $light-border-color;
    }
  }
}
