@import '~@angular/material/theming';
@include mat-core();

// Define theme defaults
$app-default:           mat-palette($mat-blue, 500); 
$app-default-accent:    mat-palette($mat-blue-grey, 900); 
$app-default-warn:      mat-palette($mat-red, 800); 

// Build theme
$theme:                 mat-light-theme($app-default, $app-default-accent, $app-default-warn);

// Include custom theme
@include angular-material-theme($theme);

// Get colors from theme
$accent:                map-get($theme, accent);
$primary:               map-get($theme, primary);

$accent-color:          mat-color($accent);
$primary-color:         mat-color($primary);