@import '~@angular/material/theming';
@include mat-core();

// Define theme defaults
$app-default:           mat-palette($mat-blue, 700);
$app-default-accent:    mat-palette($mat-light-blue, 600);
$app-default-warn:      mat-palette($mat-red);

// Build theme
$theme:                 mat-dark-theme($app-default, $app-default-accent, $app-default-warn);

// Include custom theme
@include angular-material-theme($theme);

// Get colors from theme
$accent:                map-get($theme, accent);
$primary:               map-get($theme, primary);
$background:            map-get($theme, background);

$accent-color:          mat-color($accent);
$accent-color-dark:     mat-color($accent, 800);
$primary-color:         mat-color($primary);
$border-color:          mat-color($background, card);

$app-light-warn:        mat-palette($mat-red, A700);

.light-theme{
    $light-theme:       mat-light-theme($app-default, $app-default-accent, $app-light-warn);
   
    @include angular-material-theme($light-theme);
}

.snow-white-theme{
    $snow-theme:       mat-light-theme($app-default, $app-default-accent, $app-light-warn);
    
    @include angular-material-theme($snow-theme);
}

.mixed-theme{
    $app-mixed-accent: mat-palette($mat-light-blue, 700);
    
    $mixed-theme:      mat-light-theme($app-default, $app-mixed-accent, $app-light-warn);
    
    @include angular-material-theme($mixed-theme);
}

.dark-theme{
    $primary-dark:     mat-palette($mat-blue, 500);
    $accent-dark:      mat-palette($mat-blue-grey, 900);
    $warn-dark:        mat-palette($mat-red, 800);
    
    $dark-theme:       mat-light-theme($primary-dark, $accent-dark, $warn-dark);
    
    @include angular-material-theme($dark-theme);
}

.black-theme{
    $primary-black:    mat-palette($mat-blue-grey, 900);
    $accent-black:     mat-palette($mat-blue-grey, 700);

    $black-theme:      mat-dark-theme($primary-black, $accent-black);
    
    @include angular-material-theme($black-theme);
}
