.white-snow-theme{

  &.theme-indicator{
    color: #ffffff!important;
    border-color: #cccccc;
  }

  .mat-toolbar{
    background: white!important;
    color: #444444!important;
  }
  .sidenav {
    a{
      color: #444444!important;

      &.active,
      &.active:hover,
      &.active:focus,
      &.active:active{
        background: rgba(0,0,0,0.1)!important;
        color: #111111!important;
      }
    }
  }

  ///////////////////////////////////////////////
  // Tables
  //////////////////////////////////////////////
  table{
      &.table-bordered{
          border: 1px solid $light-theme-border-color;

          tr{
              border-bottom: 1px solid $light-theme-border-color;
          }
      }
  }
}
