<h1 class="title">Alerts</h1>
<section>
  <div class="alert alert-danger">
    <mat-icon></mat-icon> <strong>Error!</strong> This is danger alert!
  </div>

  <div class="alert alert-info">
    <mat-icon></mat-icon> <strong>Info!</strong> This is info alert!
  </div>

  <div class="alert alert-success">
    <mat-icon></mat-icon> <strong>Success!</strong> This is success alert!
  </div>

  <div class="alert alert-warning">
    <mat-icon></mat-icon> <strong>Warning!</strong> This is warning alert!
  </div>
</section>

<h1 class="title">Callouts</h1>
<section>
  <div class="callout callout-danger">
    <h4>Error!</h4> This is danger callout!
  </div>

  <div class="callout callout-info">
    <h4>Info!</h4> This is info callout!
  </div>

  <div class="callout callout-warning">
    <h4>Warning!</h4> This is warning callout!
  </div>
</section>
