@import '_variables.scss';
@import '../themes/_theme.scss';

//////////////////////////////////////////////////////////////////////////////
// Main container styles
//////////////////////////////////////////////////////////////////////////////

body{
  @media(min-width: 768px){
    &.full-width{
      .mat-sidenav-container{
        .mat-toolbar{
          min-width: 100%;
          max-width: 100%!important;

          // Set logo content and size on full width toobar
          .logo{
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 2px;
            width: 125px;
            height: 24px;

            background-image: url('/assets/logos.png');
            background-repeat: no-repeat;
            background-position-y: -50px;
          }
        }

        .mat-sidenav{
          margin-top: 64px;
          z-index: 0;

          .logo{
            // Hide sidenav logo on full width toolbar
            display: none;
          }
        }
      }
    }
  }
}

.mat-sidenav-container {

  .mat-card-title{
    font-family: $heading-font-family;
    font-weight: 300;
  }

  @media(min-width: 768px) {

    .mat-toolbar {
      // Use the same transition sidenav is using, so it animates smoothly
      transition-property: max-width;
      transition-duration: .4s;
      transition-timing-function: cubic-bezier(.25,.8,.25,1);
      // Set width based on sidenav width
      max-width: calc(100% - #{$sidenav-width});
    }

    &.sidenav-closed {
      .mat-toolbar {
        max-width: 100%;
      }
    }
  }

  .mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  main {
    padding: 80px 16px 16px;

    .mat-tab-body{
      margin-top: 10px;
    }
  }
}

.mat-drawer-backdrop{
    &.mat-drawer-shown {
        background-color: rgba(0, 0, 0, 0.6)!important;
    }
}

//////////////////////////////////////////////////////////////////////////////
// Headings
//////////////////////////////////////////////////////////////////////////////

h1, h2{
  font-family: $heading-font-family;
  font-weight: 300;
}

//////////////////////////////////////////////////////////////////////////////
// Global classes
//////////////////////////////////////////////////////////////////////////////

.app-title{
  margin-left: 10px;
}

.text-center {
  text-align: center !important;
}

[center], .center{
  margin: 0 auto;
}

.title{
    margin-top: 0;
}

section {
  margin-bottom: 20px;
}

[fill], .fill {
  flex: 1 1 auto;
}

[flex] {
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

[layout=column], [layout=row], [layout] {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
}

[layout=row] {
  -ms-flex-direction: row;
  flex-direction: row;
}

.fixed-bottom-right {
  position: fixed !important;
  @media(min-width:768px){
    bottom: 24px;
    right: 32px;
  }
  @media(max-width:767px){
    bottom: 20px;
    right: 30px;
  }
}

//////////////////////////////////////////////////////////////////////////////
// Links
//////////////////////////////////////////////////////////////////////////////

a {
  color: $accent-color;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $accent-color-dark;
    text-decoration: none;
  }
}

.mat-menu-content {
  .mat-card {
    padding: 10px 24px;

    .mat-card-title {
      font-size: 18px;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// Lists
//////////////////////////////////////////////////////////////////////////////

dl {
  &.dl-horizontal {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: 1em;

    dt {
      @media (min-width: 768px) {
        float: left;
        width: 140px;
        clear: left;
      }

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 700;
    }

    dd {
      margin-left: 0;
      margin-bottom: .5rem;

      @media (min-width: 768px) {
        margin-left: 160px;
      }
    }
  }
}

.theme-selector-button{
  .mat-button-toggle-label-content{
    line-height: 32px;
    padding: 0 8px;
    .theme-indicator{
      color: currentColor;
      border: 2px solid currentColor;
      border-radius: 50%;

      width: 16px!important;
      height: 16px!important;
      font-size: 16px!important;
    }
  }
}

@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.spin-reverse{
  -webkit-animation: spin-reverse 2s infinite linear;
  animation: spin-reverse 2s infinite linear;
}

.tabs-centered{
  .mat-tab-labels{
    justify-content: center;
  }

  &.no-border{
    .mat-tab-header{
      margin: 0 auto;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// Alerts
//////////////////////////////////////////////////////////////////////////////
.alert{
  padding: 15px 10px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  border-radius: 2px;

  margin-bottom: 10px;

  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  .mat-icon{
    padding-right: 5px;
    vertical-align: middle;
    font-size: 24px;
    margin-top: -2px;
  }

  &.alert-danger{
    background-color: #F44336;
    border-color: #E53935;
    color: #ffffff;

    .mat-icon{
      &::after{
        content: 'error_outline';
      }
    }
  }

  &.alert-warning{
    background-color: #f6c342;
    border-color: #f6c342;
    color: #B71C1C;

    .mat-icon{
      &::after{
        content: 'warning';
      }
    }
  }

  &.alert-info{
    background-color: #03A9F4;
    border-color: #039BE5;
    color: #ffffff;

    .mat-icon{
      &::after{
        content: 'info';
      }
    }
  }

  &.alert-success{
    background-color: #4CAF50;
    border-color: #43A047;
    color: #ffffff;

    .mat-icon{
      &::after{
        content: 'done';
      }
    }
  }
}


.callout {
  border-top: 1px solid #3572b0;
  border-right: 1px solid #3572b0;
  border-bottom: 1px solid #3572b0;
  border-left: 1px solid #3572b0;
  border-radius: 3px;
  color: currentColor;
  line-height: 20px;
  margin: 20px 0 20px 0;
  overflow-wrap: break-word;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 40px;
  padding-top: 20px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;

  h4{
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: normal;
  }

  :before {
    background-color: #3572b0;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
    line-height: 24px;
    width: 32px;
    padding-left: 8px;
    display: flex;
    align-items: center;

    direction: ltr;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    content: 'info';
    color: #ffffff;
  }

  &.callout-danger {
    border-color: #d04437;

    :before {
      content: 'error_outline';
      background-color: #d04437;
    }
  }

  &.callout-warning {
    border-color: #f6c342;

    :before {
      content: 'warning';
      background-color: #f6c342;
    }
  }
}
