@import '../mixins/flex.scss';

.flex-container{

  @include flexbox();
  align-items: stretch;

  @media(min-width: 768px){
    flex-direction: row;

    .col {
      @include flex(1);
      margin: 0 0 0 1em;

      &:first-child{
        margin: 0;
      }

      &.col-x2{
        @include flex-grow(2);
      }

      &.col-x3{
        @include flex-grow(3);
      }

      &.col-x4{
        @include flex-grow(4);
      }
    }
  }

  @media(max-width: 767px){
    flex-direction: column;

    .col {
      flex: 1;
      margin: 1em 0 0 0;

      &:first-child{
        margin: 0;
      }
    }
  }
}
