//////////////////////////////////////////////////////////////////////////////
// Headings
//////////////////////////////////////////////////////////////////////////////

h1, h2{
  font-family: $heading-font-family;
  font-weight: 300;
}

.title{
    margin-top: 0;
}


//////////////////////////////////////////////////////////////////////////////
// Links
//////////////////////////////////////////////////////////////////////////////

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $accent-color;
    text-decoration: none;
  }
}

.mat-menu-content {
  .mat-card {
    padding: 10px 24px;

    .mat-card-title {
      font-size: 18px;
    }
  }
}
