<h1 class="title">Flex layout</h1>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>

<h2>Nested flex containers</h2>
<p>Using nesting so columns keeps the same width as flex items put directly in container, aligned to above examples.</p>
<section class="flex-container">
  <div class="col flex-container">
    <mat-card class="col">
      .col
    </mat-card>
  </div>
  <div class="col flex-container">
    <mat-card class="col">
      .col
    </mat-card>
    <mat-card class="col">
      .col
    </mat-card>
  </div>
</section>


<h2>Using ".col-x" classes to grow content in container</h2>
<section class="flex-container">
  <mat-card class="col col-x2">
    .col .col-x2
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col col-x3">
    .col .col-x3
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col col-x4">
    .col .col-x4
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>

<h1 class="title">Theme</h1>
<section>
  <mat-card>
    <mat-card-title>Flat Buttons</mat-card-title>
    <mat-card-content>
      <div class="button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button routerLink=".">Link</a>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<section>
  <mat-card>
    <mat-card-title>Raised Buttons</mat-card-title>
    <mat-card-content>
      <div class="button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<h1 class="title">Modal dialog example</h1>
<section>
  <button mat-raised-button (click)="openDialog()">Dialog example</button>
</section>

<h1 class="title">Alerts</h1>
<section>
  <div class="alert alert-danger">
    <mat-icon></mat-icon> <strong>Error!</strong> This is danger alert!
  </div>

  <div class="alert alert-info">
    <mat-icon></mat-icon> <strong>Info!</strong> This is info alert!
  </div>

  <div class="alert alert-success">
    <mat-icon></mat-icon> <strong>Success!</strong> This is success alert!
  </div>
</section>
