$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 100);

@mixin generate-margin-bottom() {
    @each $space in $spaceamounts {
        @if $space == 0 {
            .margin-bottom-#{$space} {
                margin-bottom: #{$space} !important;
            }
        }
        @else {
            .margin-bottom-#{$space} {
                margin-bottom: #{$space}px !important;
            }
        }
    }
}

@mixin generate-margin-top() {
    @each $space in $spaceamounts {
        @if $space == 0 {
            .margin-top-#{$space} {
                margin-top: #{$space} !important;
            }
        }
        @else {
            .margin-top-#{$space} {
                margin-top: #{$space}px !important;
            }
        }
    }
}

@include generate-margin-bottom();
@include generate-margin-top();