<mat-toolbar color="accent">
  <!--Sidenav menu button-->
  <button mat-icon-button (click)="onToggleMenu()">
    <mat-icon aria-label="Toggle menu">menu</mat-icon>
  </button>

  <div class="logo"></div>

  <!--Title-->
  <span class="app-title">{{ header }}</span>

  <!--Right content-->
  <div layout="row" layout-align="end center" flex>
    <span class="fill"></span>
    <button class="profile-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Menu">more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <mat-card>
        <mat-card-title>Profile &amp; Settings</mat-card-title>
        <mat-card-subtitle>john.doe@example.com</mat-card-subtitle>
      </mat-card>
      <button mat-menu-item routerLink="/profile"><mat-icon>person</mat-icon>&nbsp;Profile</button>
      <button mat-menu-item routerLink="/settings"><mat-icon>settings</mat-icon>&nbsp;Settings</button>
      <button mat-menu-item><mat-icon>lock</mat-icon>&nbsp;Change password</button>
      <button mat-menu-item routerLink="/login"><mat-icon>power_settings_new</mat-icon>&nbsp;Logout</button>
    </mat-menu>
  </div>

</mat-toolbar>
