<table class="table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>
        <a class="text-link" href="javascript:void()">{{user.email}}</a>
      </td>
    </tr>
  </tbody>
</table>
<button mat-fab class="fixed-bottom-right">
  <mat-icon aria-label="Add user">add</mat-icon>
</button>