<h1 class="title">Dashboard</h1>

<div class="home">

  <section class="info-cards">
    <div class="flex-container">
      <mat-card class="col info-card">
        <div class="info-card-icon">
          <mat-icon>supervisor_account</mat-icon>
        </div>
        <div class="info-card-content">
          <h3>2345</h3>
          Downloads
        </div>
      </mat-card>

      <mat-card class="col info-card info-card-green">
        <div class="info-card-icon">
          <mat-icon>verified_user</mat-icon>
        </div>
        <div class="info-card-content">
          <h3>456</h3>
          Verified users
        </div>
      </mat-card>

      <mat-card class="col info-card info-card-red info-card-link" routerLink="/users">
        <div class="info-card-icon">
          <mat-icon>done_all</mat-icon>
        </div>
        <div class="info-card-content">
          <h3>123</h3>
          Comments
        </div>
      </mat-card>

      <mat-card class="col info-card info-card-blue info-card-link" routerLink="/users">
        <div class="info-card-icon">
          <mat-icon>person_pin</mat-icon>
        </div>
        <div class="info-card-content">
          <h3>56</h3>
          Registered
        </div>
      </mat-card>
    </div>
  </section>

  <section>
    <div class="flex-container">
      <mat-card class="col chart first-chart">
        <mat-card-title>
          <div flex class="widget-header">
            <div fill>Line Chart Example</div>
            <div>
              <button mat-icon-button>
                <mat-icon>refresh</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-title>
        <mat-card-content>
          <canvas baseChart [data]="lineChartData" [colors]="lineChartColors" [labels]="lineChartLabels" [options]="chartOptions" [chartType]="'line'"></canvas>
        </mat-card-content>
      </mat-card>
      <mat-card class="col col-x2 chart first-chart">
        <mat-card-title>
          <div class="widget-header">
            <div fill>Bar Chart Example</div>
            <div>
              <button mat-icon-button>
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
              <button mat-button>Today</button>
            </div>
          </div>
        </mat-card-title>
        <mat-card-content>
          <canvas *ngIf="barChartData" baseChart [data]="barChartData" [labels]="barChartLabels" [colors]="barChartColors" [options]="chartOptions"
            [chartType]="'bar'"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <section class="progress-metrics">
    <div class="flex-container">
      <div class="col">
        <h3 class="text-center">Metric 1</h3>
        <div class="progress-wrapper">
          <div class="progress-label">70%</div>
          <round-progress [current]="70" [color]="'#E53935'" [background]="'rgba(0,0,0,0.06)'" [responsive]="true" stroke="5" [radius]="80"
            [max]="100"></round-progress>
        </div>
      </div>
      <div class="col">
        <h3 class="text-center">Metric 2</h3>
        <div class="progress-wrapper">
          <div class="progress-label">47%</div>
          <round-progress [current]="47" [color]="'#FFB300'" [background]="'rgba(0,0,0,0.06)'" [responsive]="true" stroke="5" [radius]="80"
            [max]="100"></round-progress>
        </div>
      </div>
      <div class="col">
        <h3 class="text-center">Metric 3</h3>
        <div class="progress-wrapper">
          <div class="progress-label">31%</div>
          <round-progress [current]="31" [color]="'#1E88E5'" [background]="'rgba(0,0,0,0.06)'" [responsive]="true" stroke="5" [radius]="80"
            [max]="100"></round-progress>
        </div>
      </div>
      <div class="col">
        <h3 class="text-center">Metric 4</h3>
        <div class="progress-wrapper">
          <div class="progress-label">12%</div>
          <round-progress [current]="12" [color]="'#43A047'" [background]="'rgba(0,0,0,0.06)'" [responsive]="true" stroke="5" [radius]="80"
            [max]="100"></round-progress>
        </div>
      </div>
    </div>
  </section>

  <section class="horizontal-bar">
    <div class="flex-container">
      <mat-card class="col chart first-chart">
        <mat-card-title>Horizontal Bar Example</mat-card-title>
        <mat-card-content>

          <mat-tab-group class="tabs-centered no-border">
            <mat-tab label="Option 1"></mat-tab>
            <mat-tab label="Option 2"></mat-tab>
          </mat-tab-group>

          <canvas *ngIf="versionsData" baseChart [data]="versionsData" [colors]="barChartColors" [options]="chartOptions" [labels]="versionsLabels"
            [chartType]="'horizontalBar'"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <section class="pie-charts">
    <h2 class="text-center">Pie Chart Example</h2>
    <div class="flex-container">
      <div class="col">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions" [chartType]="'pie'"></canvas>
      </div>
      <div class="col">
        <canvas baseChart [data]="pieChart2Data" [labels]="pieChart2Labels" [options]="pieChartOptions" [chartType]="'pie'" [colors]="pieChart2Colors"></canvas>
      </div>
      <div class="col">
        <canvas baseChart [data]="pieChart3Data" [labels]="pieChart3Labels" [options]="pieChartOptions" [chartType]="'pie'" [colors]="pieChart2Colors"></canvas>
      </div>
    </div>
  </section>

  <section class="text-center">
    <h2>Available on Github</h2>
    <a target="_blank" href="https://github.com/aronium/angular-material-boilerplate">
      <svg xmlns="http://www.w3.org/2000/svg" style="fill: currentColor" width="48" height="48" viewBox="0 0 24 24">
        <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
        />
      </svg>
    </a>
  </section>

  <section class="text-center margin-top-40">
    <svg viewBox="0 0 130 26" width="120" fill="#e7e7e7">
      <use xlink:href="/assets/logo.svg#logo"></use>
    </svg>
  </section>

  <button mat-fab class="fixed-bottom-right" (click)="onRefresh()">
    <mat-icon [ngClass]="{'spin-reverse':loading}" aria-label="Refresh">cached</mat-icon>
  </button>
</div>