<h1 class="title">Buttons</h1>
<section>
  <mat-card>
    <mat-card-title>Flat Buttons</mat-card-title>
    <mat-card-content>
      <div class="button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button routerLink=".">Link</a>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<section>
  <mat-card>
    <mat-card-title>Raised Buttons</mat-card-title>
    <mat-card-content>
      <div class="button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a>
      </div>
    </mat-card-content>
  </mat-card>
</section>
