<mat-sidenav-container fullscreen class="main-container">

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon aria-label="Toggle menu">menu</mat-icon>
    </button>
    <span>Material Boilerplate</span>
    <span class="fill"></span>
    <button class="profile-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Menu">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item routerLink="/login">Logout</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav #sidenav [mode]="sideNavMode" [opened]="isSideNavOpen">
    <app-nav-bar></app-nav-bar>
  </mat-sidenav>

  <main>
    <router-outlet></router-outlet>
  </main>

</mat-sidenav-container>