<mat-sidenav-container>
  <div class="login-container">
    <div class="center">
      <img src="/assets/logo.png" class="margin-bottom-20" />
      <div>
        <mat-form-field>
          <input matInput placeholder="Email" autofocus type="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Password" type="password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" routerLink="/home" color="accent">Login</button>
    </div>
  </div>
</mat-sidenav-container>