<div class="login-container theme-background">
  <div class="center">
    <img src="/assets/logo.png" class="margin-bottom-20" />
    <div>
      <mat-form-field floatPlaceholder="always">
        <input matInput placeholder="Email" autofocus type="email">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput floatPlaceholder="always" placeholder="Password" type="password">
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" routerLink="/home" color="primary">Login</button>
  </div>
</div>