<div class="sidenav">
  <div class="logo"></div>
  <mat-nav-list>
    <a mat-list-item routerLink="/home" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a mat-list-item routerLink="/users" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span>Users</span>
    </a>
    <ul>
      <li [ngClass]="{'expanded-parent': ngInit.value}">
        <a (click)="ngInit.value = !ngInit.value" ngInit [value]="false" #ngInit="ngInit" mat-list-item href="javascript:void(0)">
          <mat-icon>account_balance</mat-icon>
          <span fill>Company</span><mat-icon class="expand-icon" [ngClass]="{'expand':!ngInit.value, 'collapse': ngInit.value}">expand_more</mat-icon>
        </a>
        <ul [ngClass]="{'collapsed':!ngInit.value, 'expanded': ngInit.value}">
          <li><a mat-list-item href="javascript:void(0)"><span>Company menu 1</span></a></li>
          <li><a mat-list-item href="javascript:void(0)"><span>Company menu 2</span></a></li>
        </ul>
      </li>
    </ul>
    <a mat-list-item routerLink="/layout" routerLinkActive="active"><mat-icon>devices</mat-icon><span fill>Layout</span></a>
  </mat-nav-list> 
</div>
