<h1 class="title">Flex layout</h1>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>

<h2>Nested flex containers</h2>
<p>Using nesting so columns keeps the same width as flex items put directly in container, aligned to above examples.</p>
<section class="flex-container">
  <div class="col flex-container">
    <mat-card class="col">
      .col
    </mat-card>
  </div>
  <div class="col flex-container">
    <mat-card class="col">
      .col
    </mat-card>
    <mat-card class="col">
      .col
    </mat-card>
  </div>
</section>


<h2>Using ".col-x" classes to grow content in container</h2>
<section class="flex-container">
  <mat-card class="col col-x2">
    .col .col-x2
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col col-x3">
    .col .col-x3
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>
<section class="flex-container">
  <mat-card class="col col-x4">
    .col .col-x4
  </mat-card>
  <mat-card class="col">
    .col
  </mat-card>
</section>