.sidenav {
    min-width: 200px !important;

    .logo{
      img{
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

    a{
      span{
        margin-left: 10px;
      }

      &.active, &.active:hover, &.active:focus{
        // background-color: rgba(0,0,0,0.1);
        background-color: #0288D1;
        color: #ffffff;
      }
    }
  }