@import '../themes/_theme.scss';

body{
  // If .full-width is not set on main container, add logo to sidenav
  :not(.full-width){
    .sidenav{
      .logo{
        margin: 0 auto;
        margin-top: 20px;
        width: 100px;
        height: 100px;
        
        background-image: url('/assets/logos.png');
        background-repeat: no-repeat;
        background-position-y: -90px;
      }
    }
  }
}

.mat-sidenav-container{

  .sidenav {
    width: $sidenav-width !important;

    .mat-icon{
      height: 22px;
      width: 22px;
      font-size: 22px;
    }

    a{
      font-size: 14px!important;

      span{
        margin-left: 10px;
      }

      &.active,
      &.active:hover,
      &.active:focus,
      &.active:active{
        background-color: $accent-color!important;
      }
    }

    ul, li{
      list-style: none;
      padding: 0;
      margin: 0;

      .expand-icon{
        transition: transform 500ms ease;
        height: 20px;
        width: 20px;
        font-size: 20px;

        &.collapse{
          -webkit-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          transform: rotate(-180deg);
        }
      }

      ul{
        text-indent:  22px;
        
        &.collapsed{
          transition: max-height 0.1s; 
          max-height: 0;
          overflow: hidden;
        }
        &.expanded{
          transition: max-height 0.5s; 
          max-height: 100vh;
        }
      }
    }
  }
}
